/* Define your theme modifications inside next mixin */
@mixin com_company_erasmusaga-hover-ext {

}
.c-sidemenu-layout.v-csslayout .c-sidemenu-panel > .c-sidemenu {
  @include linear-gradient(182.22deg, #292C6D 24.62%, #EC255A 121.09%);
}
.c-app-workarea.v-layout.v-widget.v-has-height.c-workarea.c-app-workarea-c-workarea.c-app-workarea-tabbed.c-app-workarea-c-app-workarea-tabbed.c-app-workarea-initial.c-app-workarea-c-app-workarea-initial {
  @include linear-gradient(109.14deg, #FFEFF3 11.09%, #EADBFC 104.94%);
}
.v-verticallayout.v-layout.v-vertical.v-widget.c-window-layout.v-verticallayout-c-window-layout.v-has-width.v-has-height {
  @include linear-gradient(109.14deg, #FFEFF3 11.09%, #EADBFC 104.94%);
}
.c-app-window-wrap.v-layout.v-widget.c-app-tabbed-window.c-app-window-wrap-c-app-tabbed-window.v-has-width.v-has-height {
  @include linear-gradient(109.14deg, #FFEFF3 11.09%, #EADBFC 104.94%);
}
.v-tabsheet.c-main-tabsheet.framed.padded-tabbar>.v-tabsheet-tabcontainer{
  @include linear-gradient(109.14deg, #FFEFF3 11.09%, #EADBFC 104.94%);
}
.v-tabsheet.c-main-tabsheet.framed.padded-tabbar>.v-tabsheet-tabcontainer .v-tabsheet-tabitem-selected .v-caption{
  background: #D1EDF9 !important;
}
.importBtn-style{
  margin-left: 50px !important;
  background: darkslateblue !important;
  color: #FFEFF3 !important;
  border-radius: 6px !important;
}
.inputTf-style{
  margin-left: 50px !important;
  width: 350px !important;
  border-radius: 6px!important;
  background: #D1EDF9 !important;
}
.cancel-btn-style{
  margin-left: 50px !important;
  background: brown !important;
}
.import-label-style{
  font-size: medium;
  margin-left: 50px;
  margin-bottom: 25px;
}
.import-index-style{
  margin-left: 10px !important;
  width: 50px !important;
  border-radius: 6px!important;
  background: #D1EDF9 !important;
}
.edit-university-label-style{
  font-size: medium;
  display: inline-block;
  width: 150px;
  margin-bottom: 15px;
}
.furkan{
  margin-left: 100px !important;
  margin-top: 25px !important;
}
.v-window-contents{
  @include linear-gradient(109.14deg, #FFEFF3 11.09%, #EADBFC 104.94%);
}
.v-window-header{
  background: #6064B0 !important;
  color: #F5F5F5 !important;
}
.v-window-outerheader{
  background: #6064B0 !important;
  color: #F5F5F5 !important;
}
.v-grid-cell > div {
  background: #25316D;
  color: #F5F5F5;
}
.v-grid-cell.sort-asc.c-sort-last:after, .v-grid-cell.sort-desc.c-sort-last:after {
  color: #F5F5F5;
}
.v-grid-sidebar.closed.v-contextmenu {
  visibility: hidden;
}
.v-grid-cell.sortable.sort-desc.c-sort-last {
  background: #25316D;
}
.v-grid-cell.sortable {
  background: #25316D;
}
.v-grid-header .v-grid-cell{
  background-image: none;
  background-color: #25316D !important;
}
.v-grid-column-resize-handle {
  width: 1px;
  color: #F5F5F5;
}
.v-grid-row.v-grid-row-strip.v-grid-row-has-data.v-grid-row-focused.v-grid-row-selected > .v-grid-cell {
  background: #5F6F94;
}
.v-grid-row.v-grid-row-focused.v-grid-row-has-data.v-grid-row-selected > .v-grid-cell{
  background: #5F6F94;
}
.v-grid-row.v-grid-row-stripe.v-grid-row-has-data > .v-grid-cell{
  background: #97D2EC;
}
.v-grid-row.v-grid-row-has-data > .v-grid-cell{
  background: #D1EDF9;
}
.v-grid-header th:first-child{
  background: #25316D !important;
}
.text-area-style{
  width: 500px !important;
}